name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  build_robotics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with robotics feature
        run: cargo build --verbose --features robotics
      - name: Run tests with robotics feature
        run: cargo test --verbose --features robotics

